.cuerpo{
    background-color: rgb(233, 233, 233);
}
.contcenter{
    background-color: rgb(59, 59, 59);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 25px;
    padding-bottom: 32%;
}
.centro{
    text-align: center;
    color: #ffee06;
    text-shadow: rgb(102, 94, 94) 0.1em 0.1em 0.2em;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.85);
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
   /*border: 1px solid #060032;*/
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 3rem;
    font-size: 20px;
}
.foot{
    background-color: rgb(204, 204, 204);
    padding: 20px;
    text-align: center;

}
.footer{
    text-align: center;
    background-color: black;
    color: white;
}